<div class="flex gap-4 justify-center border">
  <div class="rounded bg-blue-200 p-4">1</div>
  <div class="rounded bg-blue-200 p-4">2</div>
  <div class="rounded bg-blue-200 p-4">3</div>
</div>

<div class="responsive-grid">
  <div class="bg-orange-200 p-4 rounded">A</div>
  <div class="bg-orange-200 p-4 rounded">B</div>
  <div class="bg-orange-200 p-4 rounded">C</div>
  <div class="bg-orange-200 p-4 rounded">D</div>
  <div class="bg-orange-200 p-4 rounded">E</div>
  <div class="bg-orange-200 p-4 rounded">F</div>
  <div class="bg-orange-200 p-4 rounded">G</div>
  <div class="bg-orange-200 p-4 rounded">H</div>
  <div class="bg-orange-200 p-4 rounded">I</div>
  <div class="bg-orange-200 p-4 rounded">J</div>
  <div class="bg-orange-200 p-4 rounded">K</div>
  <div class="bg-orange-200 p-4 rounded">L</div>
</div>
