<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center p-6">
  <h1 class="text-2xl font-bold mb-6 text-orange-600">Team members</h1>
  <div class="flex flex-wrap justify-center gap-6 w-full max-w-5xl bg-white rounded-lg shadow-md">
    <div class="flex flex-col item-center bg-gray-50 p-4 rounded-lg shadow-sm w-60 hover:shadow-md transition">
      <img src="https://randomuser.me/api/portraits/men/44.jpg" class="w-20 h-20 rounded-full object-cover mb-3">
    </div>
  </div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
</div>
