.map-container {
  width: 100%;
  height: 100vh;
}

.controls {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
}

.geojson-info {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 4px;
  font-family: sans-serif;
  z-index: 1;
}

.custom-control {
  border: 2px solid red;
}

input {
  width: calc(5 0% - 3rem);
  padding: 1rem;
  border: 1px solid rgb(0, 234, 255);
  margin: .5rem;
}