<div class="main-title">
  Angular Scratchpad {{ title ? " - " + title : "" }}
</div>
<hr>
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/dashboard">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navItems">
      <div class="navbar-nav">
        <a class="nav-item nav-link" *ngIf="securityObject?.CanAccessProducts" routerLink="/products">Products</a>
        <a class="nav-item nav-link" *ngIf="securityObject?.CanAccessCategories" routerLink="/categories">Categories</a>
        <a class="nav-item nav-link" *ngIf="securityObject?.CanAccessSettings" routerLink="/settings">Settings</a>
        <a class="nav-item nav-link" *ngIf="securityObject?.CanAccessLogs" routerLink="/logmaintenance">Logs</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" *ngIf="!securityObject?.IsAuthenticated" routerLink="/login">Login</a>
      <a class="nav-item nav-link" *ngIf="securityObject?.IsAuthenticated" href="#" (click)="logOut()">
        Logout {{ securityObject!.UserName }}
      </a>
      <a class="nav-item nav-link" routerLink="/register">Register</a>
    </div>
  </nav>
</div>

<div class="container body-content">
  <router-outlet></router-outlet>
</div>
