<div class="title">
  Angular Sandbox {{ title ? " - " + title : "" }}
</div>
<div>
  <div style="text-align: center; font-family: sans-serif; margin-top: 50px;">
    <h1>NgRx SignalStore Counter</h1>

    <h2>Count: {{ countStore.count() }}</h2>
    <h3>Double Count: {{ countStore.doubleCount() }}</h3>

    <div style="margin-top: 20px;">
      <button (click)="countStore.increment()">Increment</button>
      <button (click)="countStore.decrement()">Decrement</button>
      <button (click)="countStore.set(0)">Reset</button>
    </div>
  </div>
</div>
<hr>
<div>
  <h2>Users</h2>

  @let error = userStore.error();
  @let users = userStore.users();

  <!-- Show loading indicator -->
  <div *ngIf="userStore.isLoading()">
    <img style="height: 2rem;" src="https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-18-223_512.gif" alt="">
  </div>

  <!-- Show error message -->
  @if (error) {
  <p style="color: red;">Error: {{ userStore.error() }}</p>
  }

  <!-- Display the list of users -->
  @if (users.length > 0) {
  <ul>
    @for (user of users; track user.id) {
    <li>
      <span class="company">
        <small>{{ user.company.name }}</small>
      </span>
      <a [routerLink]="['/', user.email]" routerLinkActive="router-link-active">
        {{ user.name }} ({{ user.email }})
      </a>
    </li>
    }
  </ul>
  }
</div>