.title {
  font-size: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(52 58 64 / 50%);
}

.nav-link {
  font-size: large;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #007ACC
}

.navbar-brand {
  margin-left: 10px;
}