<div class="flex flex-col gap-2 p-8 sm:flex-row sm:items-center sm:gap-6 sm:py-4 shadow-md">
    <img src="https://tailwindcss.com/_next/static/media/erin-lindford.90b9d461.jpg" alt="" class="mx-auto block h-48 rounded-lg" />
    <div class="space-y-2 w-full text-center sm:text-left">
        <div class="space-y-0.5">
            <p class="text-lg font-semibold text-black">
                Erin Lindford
            </p>
            <p class="font-medium text-gray-500">Product Engineer</p>
            <button class="rounded-md border bg-sky-400 px-4 py-1 text-white
            active:bg-sky-600 active:text-white p-1 active:py-1 active:px-4
            ">
                Message
            </button>
        </div>
    </div>
</div>